html {
  font-size: 13px; }

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #ECECEC; }

.encabezado {
  background: white;
  border-bottom: 3px solid #F9E516; }

.container-menu {
  padding: 10px;
  text-align: center; }

.logo img {
  width: 50px;
  height: auto; }

.menu {
  background: rgba(45, 41, 39, 0.93);
  position: fixed;
  top: 0;
  right: 0;
  left: -100vw;
  bottom: 0;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  -webkit-transition: .5s;
  transition: .5s; }

.menu ul {
  list-style: none;
  padding: 0; }

.menu .link {
  margin-top: 2rem;
  cursor: pointer; }

.menu .link a {
  text-decoration: none;
  color: white;
  text-transform: capitalize;
  font-size: 2rem; }

.menu .link:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8); }

.menu.is-active {
  left: 0; }

.hamburguesa {
  color: #2D2927;
  font-size: 1.6rem;
  background: #ECECEC;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 4;
  display: block; }

.carousel-indicators {
  z-index: 1; }

.carousel .carousel-inner .carousel-item {
  height: 50vh; }

.carousel .carousel-inner .carousel-item.uno {
  background: url("../imagenes/publicidad-exito/publicidad1-cel.jpg") no-repeat center;
  background-size: cover; }

.carousel .carousel-inner .carousel-item.dos {
  background: url("../imagenes/publicidad-exito/publicidad2-cel.jpg") no-repeat center;
  background-size: cover; }

.carousel .carousel-inner .carousel-item.tres {
  background: url("../imagenes/publicidad-exito/publicidad3-cel.jpg") no-repeat center;
  background-size: cover; }

.carousel-indicators li {
  background-color: black; }

.pie-pagina {
  background-color: #2D2927;
  background-size: cover;
  padding: 2rem 0; }

.pie-pagina p {
  color: white;
  margin-top: 0;
  margin-bottom: 0; }

.pie-pagina ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  padding: 0; }

.pie-pagina li {
  text-decoration: none;
  margin-right: 10px; }

.pie-pagina li a {
  color: white;
  font-size: 2rem; }

.ir-arriba {
  position: fixed;
  bottom: 2rem;
  right: 1rem;
  color: #C12A21;
  font-size: 2.6rem;
  z-index: 99999;
  text-decoration: none;
  line-height: 0;
  display: none; }

.ir-arriba:hover,
.ir-arriba:focus {
  outline: 0;
  text-decoration: none;
  color: #F9E516; }

@media screen and (min-width: 768px) {
  html {
    font-size: 16px; }

  .container-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }

  .logo img {
    margin-left: 9rem; }

  .menu {
    background: transparent;
    position: inherit;
    z-index: 0;
    left: -100vw;
    -webkit-transition: 0s;
    transition: 0s; }

  .menu ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: 9rem;
    margin-bottom: inherit;
    margin-top: inherit; }

  .menu .link {
    margin-top: 0;
    margin-right: 2rem; }

  .menu .link a {
    font-size: 1rem;
    color: #2D2927; }

  .hamburguesa {
    display: none; }

  .carousel .carousel-inner .carousel-item {
    height: 80vh; }

  .carousel .carousel-inner .carousel-item.uno {
    background: url("../imagenes/publicidad-exito/publicidad1-normal.jpg") no-repeat center;
    background-size: cover; }

  .carousel .carousel-inner .carousel-item.dos {
    background: url("../imagenes/publicidad-exito/publicidad2-normal.jpg") no-repeat center;
    background-size: cover; }

  .carousel .carousel-inner .carousel-item.tres {
    background: url("../imagenes/publicidad-exito/publicidad3-normal.jpg") no-repeat center;
    background-size: cover; } }
@media screen and (min-width: 1200px) {
  .carousel .carousel-inner .carousel-item.uno {
    background: url("../imagenes/publicidad-exito/publicidad1-grande.jpg") no-repeat center;
    background-size: cover; }

  .carousel .carousel-inner .carousel-item.dos {
    background: url("../imagenes/publicidad-exito/publicidad2-grande.jpg") no-repeat center;
    background-size: cover; }

  .carousel .carousel-inner .carousel-item.tres {
    background: url("../imagenes/publicidad-exito/publicidad3-grande.jpg") no-repeat center;
    background-size: cover; } }

/*# sourceMappingURL=estilos.css.map */